.header {
  text-align: center;
}

.header__title {
  margin-top: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.header__tagline {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: normal;
}
