.container {
  padding: 50px;
}

.draggable-cell {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.cell {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
}

.dayNamesContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.dayName {
  text-align: center;
  width: 80px;
  font-size: smaller;
}

.timesContainer {
  display: flex;
  font-size: smaller;
}

.timesOfDayContainer {
  display: grid;
  grid-template-rows: repeat(16, 20px);
}

.timeOfDay {
  height: 20px;
  width: 80px;
  text-align: center;
}
