.draggable-cell {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.cell {
  width: 80px;
  height: 20px;
  border: 1px solid black;
}

.selected {
  background-color: rgb(120, 121, 120) !important;
}
