.meetingContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.meetingName {
  text-align: center;
  margin-bottom: 0.2em;
}

.copyLink {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
