.meetingContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.meetingName {
  text-align: center;
}

.groupAvailability {
  /* display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center; */
}
